@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* color 변수 설정 */
:root {
  /* Base Colors */
  --color-white: #fdfdfd;
  --color-light-gray: #f0f0f0;
  --color-bg-light: #edeae2;
  --color-bg-dim: #edeae2;
  --color-focus: #eae1c8;
  --color-button-light: #988468;
  --color-button-dim: #4f423c;
  --color-border: #919191;
  --color-black: #2b2721;
}

/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Noto Sans KR", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: #000000;
  overflow: hidden;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
} */

/* Material Icons */
.material-symbols-outlined {
  font-size: 18px;
  vertical-align: middle;
  color: #343835;
  margin-bottom: 5px;
}

/* Common utility classes */
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 1000;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(0px) scale(0.2);
  }

  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(0px) scale(0.2);
  }

  100% {
    transform: translateX(0px) scale(1);
  }
}
