.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--color-bg-light);
  overflow: hidden;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 20px;
  padding: 1rem;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  background-color: var(--color-light-gray);
}

.chat-search-bottom {
  padding: 1rem;
  background-color: var(--color-bg-light);
  border-top: 1px solid var(--color-border);
  margin-top: auto;
}

.chat-message {
  padding: 15px;
  border-radius: 10px;
  max-width: 100%;
  word-wrap: break-word;
  box-shadow: 0 0px 2px var(--color-border);
  border: 1px solid var(--color-border);
}

.chat-message.bot {
  align-self: flex-start;
  background-color: var(--color-white);
  animation: slideInLeft 0.6s ease forwards;
}

.chat-message.user {
  align-self: flex-end;
  background-color: var(--color-focus);
  max-width: 80%;
  animation: slideInRight 0.6s ease forwards;
}

.chat-message.bot .message-content {
  margin-bottom: 0;
}

.message-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;
  width: 100%;
  position: relative;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.option-text {
  display: inline-block;
  max-width: 15ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.option-button {
  padding: 12px;
  background-color: var(--color-bg-light);
  color: var(--color-black);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: left;
  transition: background-color 0.2s;
  font-size: 0.95em;
  line-height: 1.5;
  width: fit-content;
  display: flex;
  align-items: center;
  border: 1px solid #bbbbbb;
}

.option-button.dim {
  background-color: var(--color-button-dim);
  color: var(--color-white);
}
.option-button.dim:hover {
  background-color: var(--color-black);
  color: var(--color-white);
  transition: background-color 0.5s;
}

.option-button.light {
  background-color: var(--color-button-light);
  color: var(--color-white);
}

.option-button:hover {
  background-color: var(--color-focus);
}

.option-button.secondary {
  background-color: var(--color-button-light);
}

.chat-input-container {
  position: relative;
  margin-top: auto;
  padding: 15px;
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.chat-input {
  width: 100%;
  padding: 12px;
  padding-right: 40px;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  font-size: 0.9em;
  resize: none;
}

.send-button {
  position: absolute;
  right: 25px;
  bottom: 25px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-button-dim);
}

.chat-search {
  padding: 1rem;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-border);
}

.search-header {
  display: flex;
  justify-content: space-between;
}

.search-header h3 {
  font-size: 1rem;
  color: var(--color-text);
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search-header h3 .material-symbols-outlined {
  font-size: 1.2rem;
  color: var(--color-primary);
}

.search-input-container {
  width: 85%;
}

.search-refresh-button {
  background-color: var(--color-white);
  border-radius: 10px;
  border: 1px solid var(--color-border);
  width: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-refresh-button:hover {
  background-color: var(--color-light-gray);
  transition: background-color 0.5s;
}

.search-input {
  width: 100%;
  padding: 0.75rem 2.5rem 0.75rem 1rem;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  font-size: 0.9rem;
  color: var(--color-text);
  transition: all 0.2s ease;
}

.search-input:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: 0 0 0 2px rgba(79, 66, 60, 0.1);
}

.send-icon {
  position: absolute;
  right: 0.75rem;
  color: var(--color-text-light);
  font-size: 1.2rem;
}

.keyword-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: var(--color-light-gray);
  border: 1px solid var(--color-border);
  border-radius: 10px;
  max-height: 200px;
  overflow-y: auto;
}

.keyword-button {
  padding: 0.5rem 1rem;
  background-color: var(--color-white);
  border: 1px solid var(--color-border);
  border-radius: 10px;
  color: var(--color-text);
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.2s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.keyword-button:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-color: var(--color-primary);
}
