.chat-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  overflow-y: auto;
  padding: 5px;
}

.chat-message {
  padding: 15px;
  border-radius: 10px;
  max-width: 100%;
  word-wrap: break-word;
  box-shadow: 0 0px 2px var(--color-border);
  border: 1px solid var(--color-border);
}

.chat-message.bot {
  align-self: flex-start;
  background-color: var(--color-light-gray);
}

.chat-message.user {
  align-self: flex-end;
  background-color: var(--color-focus);
  max-width: 80%;
}

.chat-message.bot .message-content {
  margin-bottom: 0;
}

.message-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;
  width: 100%;
  position: relative;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.option-text {
  display: inline-block;
  max-width: 15ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.option-button {
  padding: 12px;
  background-color: var(--color-bg-light);
  color: var(--color-black);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: left;
  transition: background-color 0.2s;
  font-size: 0.95em;
  line-height: 1.5;
  width: fit-content;
  display: flex;
  align-items: center;
}

.option-button.dim {
  background-color: var(--color-button-dim);
  color: var(--color-white);
}
.option-button.dim:hover {
  background-color: var(--color-black);
  color: var(--color-white);
  transition: background-color 0.5s;
}

.option-button.light {
  background-color: var(--color-button-light);
  color: var(--color-white);
}

.option-button:hover {
  background-color: var(--color-focus);
}

.option-button.secondary {
  background-color: var(--color-button-light);
}

.chat-input-container {
  position: relative;
  margin-top: auto;
  padding: 15px;
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.chat-input {
  width: 100%;
  padding: 12px;
  padding-right: 40px;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  font-size: 0.9em;
  resize: none;
}

.send-button {
  position: absolute;
  right: 25px;
  bottom: 25px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-button-dim);
}
