/* .tree-node {
  padding: 0.75rem;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #4f423c;
  cursor: pointer;
  transition: all 0.2s ease;
  min-width: 180px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

.tree-node:hover {
  background-color: #4f423c;
  transform: translateY(-2px);
}

.tree-node:hover .tree-node-title,
.tree-node:hover .tree-node-page,
.tree-node:hover .tree-node-importance {
  color: white;
}

.tree-node-title {
  font-size: 0.9rem;
  color: var(--color-black);
  margin-bottom: 0.5rem;
  font-weight: 500;
  /* text-align: center; */
}

.tree-node-keywords {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.tree-node-keyword {
  font-size: 0.7rem;
  padding: 0.125rem 0.5rem;
  background-color: #f0f0f0;
  border-radius: 12px;
  color: #666;
}

.tree-node:hover .tree-node-keyword {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.tree-node-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}

.tree-node-page {
  color: #666;
  font-size: 0.75rem;
}

.tree-node-importance {
  color: #ffd700;
  letter-spacing: -1px;
}

.tree-node-selected {
  background-color: red;
}

.tree-node-selected .tree-node-title,
.tree-node-selected .tree-node-page,
.tree-node-selected .tree-node-importance {
  color: white;
}

.tree-node-selected .tree-node-keyword {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.tree-node-circle {
  cursor: pointer;
  transition: all 0.2s ease;
}

.tree-node-circle:hover {
  fill: #fff;
  stroke: #4f423c;
  transform: scale(1.1);
}
